@import "tailwindcss";

.sidebar-scroll::-webkit-scrollbar {
  width: 6px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: #2d3748;
  border-radius: 7px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: #4a5568;
  border-radius: 7px;
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: #718096;
}
